@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::selection{
     background: #8c2b61;
    color: #fff;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222121;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;

    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;
    overflow: hidden;
}
.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}

.container .form {
    width: 50%;
    padding: 30px;
    background-color: #121111;
    background-image: url('/images/bckground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
    
}
.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
    
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}
.container.active .forms{
    height: 600px;
}

.container .form .title {
    font-size: 27px;
    font-weight: 600;
    position: relative;
}

.form .title::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #8c2b61;
    border-radius: 25px;
}

.form .input-field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #999;
    border-top: 2px solid transparent;
    background-color: transparent;
    color: #fff;
    transition: all 0.2s ease;
}
.input-field input:is(:focus, :valid){
    border-bottom-color: #8c2b61
}
.input-field input:is(:focus, :valid) ~ i{
    color: #8c2b61
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
}

.input-field i.icon {
    left: 0;

}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}
.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    
}
.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;

}

.checkbox-content input{
    margin: 0 8px -2px 4px;
    accent-color: #8c2b61;
    cursor: pointer;
}
.form .text{
    font-size: 14px;
    color: #999;
}
.form a.text{
    text-decoration: none;
    color: #8c2b61;
    cursor: pointer;
}

.form a:hover{
    text-decoration: underline;
}
.form .button{
    margin-top: 35px;
}
.form .button input{
    border: none;
    background-color: #8c2b61;
    letter-spacing: 1px;
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}
.button input:hover{
    background-color: #ac3375;
}
.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
